.content-nav-container {
    width: 200px !important;
}

.content-nav-list {
    padding-left: 0;
    margin-bottom: 0;
}

.content-nav-item {
    text-align: left;
    margin-bottom: 15px;
    margin-left: 10px;
    list-style: none;
}

.content-nav-link {
    text-decoration: none;
    color: #D41A2C;
    text-align: left;
    font-size: 1.05em;
}

.content-nav-link:hover {
    text-decoration: underline;
    color: #D41A2C;
}

.active-link {
    border-left: 2px solid black;
    margin-left: 0;
    padding-left: 8px;
}

.active-link>.content-nav-link {
    color: black;
}